*{
    padding: 0;
    margin: 0;
}

footer{
    width: 100% ;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    font-style: italic ;
}
header{
    background-color: cyan;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size:  15px;
    font-style: italic;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    
}
div img{
    height:400px;
    width:100%;
}
body{
    background-color: darkgray;
  height: 100px;
  width: 1915px;
}



